@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

body {
    color: #2b2a37;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 96px;
}
.clevulate {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
h1:hover .clevulate{
    color:#3ed35a;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
button {
    font-family: 'Oswald', sans-serif;
    margin: 10px 5px;
    transition-duration: 0.2s;
    border-radius: 2px;
    border: none;
    background-color: #2b2a37;
    color: var(--main);
    padding: 5px 10px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    color: white;
    font-size: 20px;
}
button:hover {
    background-color: #3ed35a;
    color: #2b2a37;
}
.head {
    padding: 5% 7.5%;
    text-align: center;
}
.quote {
    border-radius: 3px;
    border: 2px solid #2b2a37;
    margin: 5px 2px;
    padding: 10px 20px;
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.3s;
    width: 300px;
    height: 200px;
    display: inline-block;
}
.quote:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #3ed35a;
    border: 2px solid #3ed35a;
}
.reg {
    margin: auto;
    min-width: 700px;
    width: 85%;
    text-align: center;
}
.em {
    color: white;
    margin: auto;
    width: 74.45183944%;
    background-color: #2b2a37;
    padding: 60px 13%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.3fr 1fr;
    column-gap: 3px;
}
.ext {
    color:#ffffff;
}
.bold {
    color:#3ed35a;
}